@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Definición de las variables que voy a utilizar */
:root {
    --yellow: #ffc200;
    --black: #131415;
    --grey: #2d3640;
    /* Esta es la imagen que voy a usar para el back
    ground */
    --bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffc200' fill-opacity='0.03'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

/* Reseteo de los valores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

/* Propiedades nuevas */
html{
    /* Permite que haya un desplazamiento suave y no
    brusco con el scroll */
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    /* Le defino un ancho del 100% al body */
    width: 100%;
    color: white;
    overflow-x: hidden;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Significa que el margen superior e inferior es
    0 pero los margenes de derecha e izquierda se van
    a ajustar automaticamente distribuyendo el espacio
    disponible de forma uniforme */
    margin: 0 auto;
    padding: 60px 0px;
    max-width: 1300px;
}

button{
    background-color: var(--yellow);
    border: 0px solid black;
    /* outline: none; */
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
    /* border-radius: 5px; */
}

button:hover{
    background-color: #c79900;
    transition: all 0.4s linear;
}

.section-title{
    font-weight: 600;
    font-size: 42px;
}

.section-p{
    font-size: 18px;
    font-weight: 300;
}

.section-p-small{
    font-size: 15px;
    font-weight: 300;
}

.span-yellow{
    color: var(--yellow);
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 20px;
    /* Este position se está basando en el viewport */
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--black);
    background-image: var(--bg-img);
    z-index: 2;
}

.logo-imagen{
    height: 50%;
}

.nav-bar{
    display: flex;
}

.nav-bar-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar-list li a{
    color: #fff;
    font-size: 15.9px;
    transition: all 0.2s ease;
}

.nav-bar-list li a:hover{
    padding: 1px;
}

.menu-imagen{
    /* Como le coloco position absolute
    esto significa, que todas las medidas
    que le coloque, se va a basar en aquel
    elemento que tiene position distinta de
    static, en este caso el header (fixed) */
    position: absolute;
    width: 5%;
    height: 25%;
    top: 40%;
    cursor: pointer;
    display: none;
}

/* Para hacer desaparecer el checkbox */
#menu-toggle{
    display: none;
}

/* Esto diciendo dentro tuyo nav-bar-list
necesito tu último li y de ese mismo necesito
su a */
.nav-bar-list li:last-child > a{
    border: 1px solid var(--yellow);
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.nav-bar-list li:last-child > a:hover{
    background-color: #fff;
    color: var(--grey);
    border: 1px solid var(--black);
} 

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    background-image: var(--bg-img);
}

.slogan-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 550px;
}

#hero{
    display: flex;
    gap: 15px;
    margin-top: 100px;
}

.text-container{
    max-width: max(60%, 550px);
}

.text-container h1{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: white;
}

.text-container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: white;
}

.hero-imagen{
    width: 30%;
}

.tittle-btn-speakers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

#speakers{
    display: flex;
    flex-direction: column;
    gap: max(120px, 10%);
    width: 100%;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    gap: 100px;
}

.card-speaker{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 150px;
    border-radius: 5px;
}

.color{
    color: black;
}

.text-card{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.text-card h3{
    font-weight: 400;
    font-size: 15px;
}

/* Aca estoy definiendo las propiedades del contenedor div
que justamente va a contener la imagen, es decir, estoy definiendo
el 'envase' */
.imagen-card{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 80px;
}

/* Aca únicamente voy a agregar la imagen que va en el div */
/* Estoy agarrando el primer card y de ese mismo
estoy agarrando la imagen (la estoy definiendo)*/
.card-speaker:first-child .imagen-card{
    background-image: url(./img/card-1.jpg);
}
/* Recordar que con nth-child(n) elijo que child en
especifico quiero utilizar */
.card-speaker:nth-child(2) .imagen-card{
    background-image: url(./img/card-2.png);
}

.card-speaker:nth-child(3) .imagen-card{
    background-image: url(./img/card-3.jpg);
}

.card-speaker:nth-child(4) .imagen-card{
    background-image: url(./img/card-4.jpg);
}

.card-speaker:nth-child(5) .imagen-card{
    background-image: url(./img/card-5.png);
}

/* Botón que se activa cuando se hace el web responsive */
.responsive-btn{
    display: none;
}

#about-us{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 500px;
    padding: 0px 200px 0px 80px;
}

.imagen-about{
    width: min(460px,90%);
    height: 380px;
    background-image: url(./img/about.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 20px;
    padding: 10px;
}

.container-btns{
    display: flex;
    gap: 15px;
}

/* Es una segunda clase del h2 de lineup
lo use para achicar el height del titulo */
.prueba{
    font-weight: 400;
}

.line-up-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

#lineup{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}
.h3-card{
    font-weight: 600;
    font-size: 24px;
}

.time-card{
    font-size: 20px;
    font-weight: 400;
}

.line-up-container-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.lineup-card{
    display: flex;
    background-color: var(--yellow);
    border-radius: 5px;
    width: min(90vw, 700px);
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0px 30px;
    height: 100px;
}

.color-card{
    color: #131415;
}

/* .linea-yellow{
    height: 3px;
    width: min(90%, 600px);
    margin-top: 80px;
    background-color: var(--yellow);
} */

.linea-yellow{
    background-color: var(--yellow);
    width: min(90%,600px);
    height: 2px;
    margin-top: 50px;
}

.container-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);
    background-image: var(--bg-img);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 70px;
    padding: 30px;
}

.footer-text{
    text-align: center;
    max-width: 700px;
    font-weight: 400;
    font-size: 24px;
}

.footer-other{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font: 14px;
    min-height: 100px;
}

.footer-sociales{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.footer-sociales i{
    cursor: pointer;
}

.footer-terms{
    display: flex;
    gap: 20px;
}

.footer-terms li a{
    color: white;
}

@media (max-width:768px){
    .header{
        width: 70%;
    }

    .menu-imagen{
        display: flex;
        right: -40px;
    }

    .nav-bar-list{
        gap: 20px;
    }

    .text-container h1{
        font-size: 40px;
    }

    .text-container p{
        font-size: 10px;
    }

    /* hero */
    .hero-imagen{
        width: 10%;
    }
}